In [19]:
from sqlalchemy import create_engine
import numpy as np
import pandas as pd

In [20]:
a= open("../Password.txt","r").read()

In [21]:
str_conn=f"mysql+pymysql://root:{a}@localhost:3306/publications"

motor=create_engine(str_conn)  # motor de conexion

CHALLENGE 1

STEP 1

In [22]:
motor.execute('show tables;').fetchall()

[('authors',),
 ('discounts',),
 ('employee',),
 ('jobs',),
 ('pub_info',),
 ('publishers',),
 ('roysched',),
 ('sales',),
 ('stores',),
 ('titleauthor',),
 ('titles',)]

In [23]:
motor.execute('select * from titles').fetchall()

[('BU1032', "The Busy Executive's Database Guide", 'business', '1389', Decimal('19.9900'), Decimal('5000.0000'), 10, 4095, 'An overview of available database systems with emphasis on common business applications. Illustrated.', datetime.datetime(1991, 6, 12, 0, 0)),
 ('BU1111', 'Cooking with Computers: Surreptitious Balance Sheets', 'business', '1389', Decimal('11.9500'), Decimal('5000.0000'), 10, 3876, 'Helpful hints on how to use your electronic resources to the best advantage.', datetime.datetime(1991, 6, 9, 0, 0)),
 ('BU2075', 'You Can Combat Computer Stress!', 'business', '0736', Decimal('2.9900'), Decimal('10125.0000'), 24, 18722, 'The latest medical and psychological techniques for living with the electronic office. Easy-to-understand explanations.', datetime.datetime(1991, 6, 30, 0, 0)),
 ('BU7832', 'Straight Talk About Computers', 'business', '1389', Decimal('19.9900'), Decimal('5000.0000'), 10, 4095, 'Annotated analysis of what computers can do for you: a no-hype guide for the critical user.', datetime.datetime(1991, 6, 22, 0, 0)),
 ('MC2222', 'Silicon Valley Gastronomic Treats', 'mod_cook', '0877', Decimal('19.9900'), Decimal('0.0000'), 12, 2032, 'Favorite recipes for quick, easy, and elegant meals.', datetime.datetime(1991, 6, 9, 0, 0)),
 ('MC3021', 'The Gourmet Microwave', 'mod_cook', '0877', Decimal('2.9900'), Decimal('15000.0000'), 24, 22246, 'Traditional French gourmet recipes adapted for modern microwave cooking.', datetime.datetime(1991, 6, 18, 0, 0)),
 ('MC3026', 'The Psychology of Computer Cooking', 'UNDECIDED', '0877', None, None, None, None, None, datetime.datetime(2014, 11, 7, 10, 39, 37)),
 ('PC1035', 'But Is It User Friendly?', 'popular_comp', '1389', Decimal('22.9500'), Decimal('7000.0000'), 16, 8780, "A survey of software for the naive user, focusing on the 'friendliness' of each.", datetime.datetime(1991, 6, 30, 0, 0)),
 ('PC8888', 'Secrets of Silicon Valley', 'popular_comp', '1389', Decimal('20.0000'), Decimal('8000.0000'), 10, 4095, "Muckraking reporting on the world's largest computer hardware and software manufacturers.", datetime.datetime(1994, 6, 12, 0, 0)),
 ('PC9999', 'Net Etiquette', 'popular_comp', '1389', None, None, None, None, 'A must-read for computer conferencing.', datetime.datetime(2014, 11, 7, 10, 39, 37)),
 ('PS1372', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'psychology', '0877', Decimal('21.5900'), Decimal('7000.0000'), 10, 375, "A must for the specialist, this book examines the difference between those who hate and fear computers and those who don't.", datetime.datetime(1991, 10, 21, 0, 0)),
 ('PS2091', 'Is Anger the Enemy?', 'psychology', '0736', Decimal('10.9500'), Decimal('2275.0000'), 12, 2045, 'Carefully researched study of the effects of strong emotions on the body. Metabolic charts included.', datetime.datetime(1991, 6, 15, 0, 0)),
 ('PS2106', 'Life Without Fear', 'psychology', '0736', Decimal('7.0000'), Decimal('6000.0000'), 10, 111, 'New exercise, meditation, and nutritional techniques that can reduce the shock of daily interactions. Popular audience. Sample menus included, exercise video available separately.', datetime.datetime(1991, 10, 5, 0, 0)),
 ('PS3333', 'Prolonged Data Deprivation: Four Case Studies', 'psychology', '0736', Decimal('19.9900'), Decimal('2000.0000'), 10, 4072, 'What happens when the data runs dry?  Searching evaluations of information-shortage effects.', datetime.datetime(1991, 6, 12, 0, 0)),
 ('PS7777', 'Emotional Security: A New Algorithm', 'psychology', '0736', Decimal('7.9900'), Decimal('4000.0000'), 10, 3336, 'Protecting yourself and your loved ones from undue emotional stress in the modern world. Use of computer and nutritional aids emphasized.', datetime.datetime(1991, 6, 12, 0, 0)),
 ('TC3218', 'Onions, Leeks, and Garlic: Cooking Secrets of the Mediterranean', 'trad_cook', '0877', Decimal('20.9500'), Decimal('7000.0000'), 10, 375, 'Profusely illustrated in color, this makes a wonderful gift book for a cuisine-oriented friend.', datetime.datetime(1991, 10, 21, 0, 0)),
 ('TC4203', 'Fifty Years in Buckingham Palace Kitchens', 'trad_cook', '0877', Decimal('11.9500'), Decimal('4000.0000'), 14, 15096, "More anecdotes from the Queen's favorite cook describing life among English royalty. Recipes, techniques, tender vignettes.", datetime.datetime(1991, 6, 12, 0, 0)),
 ('TC7777', 'Sushi, Anyone?', 'trad_cook', '0877', Decimal('14.9900'), Decimal('8000.0000'), 10, 4095, 'Detailed instructions on how to make authentic Japanese sushi in your spare time.', datetime.datetime(1991, 6, 12, 0, 0))]

In [24]:
pd.read_sql('''select * from employee''', motor).head()

      emp_id    fname minit      lname  job_id  job_lvl pub_id  hire_date
0  A-C71970F     Aria             Cruz      10       87   1389 1991-10-26
1  A-R89858F  Annette           Roulet       6      152   9999 1990-02-21
2  AMD15433F      Ann     M      Devon       3      200   9952 1991-07-16
3  ARD36773F  Anabela     R  Domingues       8      100   0877 1993-01-27
4  CFH28514M   Carlos     F   Hernadez       5      211   9999 1989-04-21

In [25]:
step_1 = pd.read_sql('''select a.au_id as AUTHOR_ID, t.title as TITLE, t.royalty as ROYALTY, t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100 as sales_royalty 

                from titles as t 
                left join titleauthor as ta
                on t.title_id=ta.title_id
                left join sales as s
                on t.title_id=s.title_id
                left join authors as a
                on a.au_id=ta.au_id''', motor)

In [26]:
step_1.head()

,AUTHOR_ID,TITLE,ROYALTY,sales_royalty
0,213-46-8915,The Busy Executive's Database Guide,10.0,3.998
1,213-46-8915,The Busy Executive's Database Guide,10.0,7.996
2,409-56-7008,The Busy Executive's Database Guide,10.0,5.997
3,409-56-7008,The Busy Executive's Database Guide,10.0,11.994
4,267-41-2394,Cooking with Computers: Surreptitious Balance ...,10.0,11.950

STEP 2

In [27]:
step_2 = pd.read_sql('''
            
            SELECT a.au_id as AUTHOR_ID, t.title as TITLE, SUM(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100) as ROYALTIES
        
                from titles as t 
                left join titleauthor as ta
                on t.title_id=ta.title_id
                left join sales as s
                on t.title_id=s.title_id
                left join authors as a
                on a.au_id=ta.au_id 
                group by a.au_id, t.title_id''', motor)

In [28]:
step_2.head()

     AUTHOR_ID                                              TITLE  ROYALTIES
0  213-46-8915                The Busy Executive's Database Guide     11.994
1  409-56-7008                The Busy Executive's Database Guide     17.991
2  267-41-2394  Cooking with Computers: Surreptitious Balance ...     11.950
3  724-80-9391  Cooking with Computers: Surreptitious Balance ...     17.925
4  213-46-8915                    You Can Combat Computer Stress!     25.116

STEP 3

In [29]:
step_3 = pd.read_sql('''
            
            SELECT a.au_id as AUTHOR_ID, t.title as TITLE, SUM(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100) as ROYALTIES
        
                from titles as t 
                left join titleauthor as ta
                on t.title_id=ta.title_id
                left join sales as s
                on t.title_id=s.title_id
                left join authors as a
                on a.au_id=ta.au_id 
                group by a.au_id, t.title_id
                order by ROYALTIES desc
                limit 3''', motor)

In [30]:
step_3

     AUTHOR_ID                                              TITLE  ROYALTIES
0  238-95-7766                           But Is It User Friendly?    110.160
1  807-91-6654  Onions, Leeks, and Garlic: Cooking Secrets of ...     83.800
2  998-72-3567                                Is Anger the Enemy?     70.956

CHALLENGE 2

STEP_1

In [54]:
query1 = '''create temporary table publications.sales_3
select a.au_id as AUTHOR_ID, t.title as TITLE, t.royalty as ROYALTY, t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100 as sales_royalty 

                from titles as t 
                left join titleauthor as ta
                on t.title_id=ta.title_id
                left join sales as s
                on t.title_id=s.title_id
                left join authors as a
                on a.au_id=ta.au_id'''

# Para mostrarlo habría que hacer un; SELECT * from sales_1

In [55]:
query1_1= '''select * from sales_3'''

In [56]:
# No sé porqué me da error al sacar el data frame; no me reconoce la tabla de arriba. Sin embargo en MySQL me lo coge.
df = pd.read_sql(query1_1, motor)
df.head()

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'publications.sales_3' doesn't exist")
[SQL: select * from sales_3]
(Background on this error at: https://sqlalche.me/e/14/f405)

STEP_2

In [57]:
query2 = '''create temporary table publications.Royalties
select AUTHOR_ID, TITLE, SUM(sales_royalty) as ROYALTIES
                from sales_3
                group by AUTHOR_ID, TITLE'''
# Para mostrarlo habría que hacer un; SELECT * from ROYALTIES

In [58]:
query2_2 = '''select * from Royalties'''

In [59]:
# No sé porqué me da error al sacar el data frame; no me reconoce la tabla de arriba. Sin embargo en MySQL me lo coge.
df1 = pd.read_sql(query2_2, motor)
df1.head()

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'publications.royaties' doesn't exist")
[SQL: select * from Royaties]
(Background on this error at: https://sqlalche.me/e/14/f405)

STEP 3

In [40]:
query3 = '''create temporary table publications.TOP_ROYALTIES
select AUTHOR_ID, TITLE, ROYALTIES

                from ROYALTIES
                order by ROYALTIES desc
                limit 3'''

In [41]:
query3_3 = '''select * from TOP_ROYALTIES'''

In [42]:
# No sé porqué me da error al sacar el data frame; no me reconoce la tabla de arriba. Sin embargo en MySQL me lo coge.
df2 = pd.read_sql(query3_3, motor)
df2.head()

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'publications.top_royalties' doesn't exist")
[SQL: select * from TOP_ROYALTIES]
(Background on this error at: https://sqlalche.me/e/14/f405)

CHALLENGE 3

In [48]:
query4 = '''create table most_profiting_authors
select a.au_id as AUTOR_ID, SUM(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100) as profits
from titles as t 
                left join titleauthor as ta
                on t.title_id=ta.title_id
                left join sales as s
                on t.title_id=s.title_id
                left join authors as a
                on a.au_id=ta.au_id 
                group by a.au_id, t.title_id
                order by profits desc'''

In [49]:
query4_4 = '''select * from most_profiting_authors'''

In [50]:
df4 = pd.read_sql(query4_4, motor)
df4.head()

      AUTOR_ID  profits
0  238-95-7766  110.160
1  807-91-6654   83.800
2  899-46-2035   70.956
3  998-72-3567   70.956
4  427-17-2319   50.000